RewriteEngine on
RewriteBase /
AddDefaultCharset UTF-8

#Всегда переадресация на https
RewriteCond %{HTTPS} =ff
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]
#Устанавливаем время жизни сессии
php_value session.gc_maxlifetime 3600

RewriteRule (.*) public/$1
