@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --bg-color: #232536;
    --green-color: #AEED7F;
    --red-color: #E9563E;
    --orange-color: #F9C053;
    --violet-color: #9E1DF5;
    --scarlet-color: #F53347;
    --blue-color: #1BC0C0;
}

* {
    margin: 0;    padding: 0;    outline: 0;
    font-family: 'Open Sans', sans-serif;
    /*user-select: none;*/
}

a, a:link, a:visited {
    outline: none;
    text-decoration: none;
}

input, button {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    font-size: 16px;
}

/*--------------HEADER---------------*/
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--bg-color);
    box-shadow: 0 2px 11px rgba(255, 138, 0, 0.53);
    height: 60px;
    padding: 0 20px;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    z-index: 100;
    transition: all .5s ease;
}

.out {
    transform: translateY(-120%);
}

.header-logo {
    display: flex;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
}

.header-logo-left {
    color: var(--violet-color);
    text-shadow: 0 2px 5px rgba(158, 29, 245, 0.9);
}

.header-logo-right {
    margin-left: 10px;
    color: var(--scarlet-color);
    text-shadow: 0 2px 5px #FF0000;
}

.header-nav {
    display: flex;
    width: 600px;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 18px;
}

.header-nav a {
    color: #FFFFFF;
}

.header-nav-items {
    display: block;
    width: 140px;
    line-height: 60px;
    text-align: center;
    transition: background-color 0.4s;
}

.header-nav-items:hover {
    background-color: var(--violet-color);
}

.header-search {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.header-profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    user-select: none;
    width: 240px;
    height: 60px;
}

.header-profile-text {
    width: 180px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
}

.header-profile-up-text {
    color: var(--blue-color);
}

.header-profile-down-text {
    font-weight: 700;
    color: var(--red-color);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.header-profile-avatar {
    width: 50px;
    height: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin: 4px;
}
/*--------------PROFILE MENU---------------*/
.header-profile-menu {
    background-color: var(--bg-color);
    box-shadow:
            -20px -20px 0 -18px var(--violet-color),
            20px 20px 0 -18px var(--violet-color),
            -18px 20px 0 -20px var(--scarlet-color),
            0 0 0 2px var(--scarlet-color);
    position: absolute;
    top: 62px;
    right: 20px;
}

.profile-menu-info {
    display: flex;
    align-items: center;
    background-color: #3b3b50;
    width: 300px;
    cursor: default;
}

.profile-menu-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 5px;
}

.profile-menu-text {
    display: block;
    margin: 5px;
}

.profile-menu-nickname {
    font-size: 20px;
    font-weight: 700;
    color: var(--red-color);
}

.profile-menu-nickname span {
    font-size: 16px;
    color: var(--green-color);
}

.profile-menu-email {
    font-size: 12px;
    color: #FFFFFF;
}

.profile-menu-hidden {
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px 0;
    width: 300px;
}

.profile-menu-button {
    display: flex;
    padding: 0 25px;
    color: #FFFFFF;
}

.profile-menu-button img {
    width: 36px;
    height: 36px;
    padding: 6px 0;
}

.profile-menu-button span {
    font-size: 18px;
    margin-left: 14px;
    line-height: 48px;
    width: 200px;
}

.profile-menu-button:hover {
    background-color: #fff;
    color: #000;
    transition: all 0.5s ease;
}

/*--------------CONTENT ADMIN---------------*/
.content_admin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar {
    position: fixed;
    margin-top: 60px;
    width: 280px;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.sidebar_name {
    font-size: 24px;
    line-height: 1.8;
    font-weight: 700;
}

.list_name {
    width: 100%;
    line-height: 2.4;
    background-color: var(--scarlet-color);
    color: #FFFFFF;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    line-height: 2.2;
}

.list a {
    width: 100%;
    color: #000;
}

.list a:hover  {
    background: #cccccc;
}

.list_item {
    margin-left: 20px;
}

#notification {
    position: fixed;
    padding: 15px;
    background-color: var(--white-color);
    display: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(255, 0, 0);
    bottom: 30px;
    right: 20px;
    color: var(--black-color);
    font-size: 16px;
}

.notification {
    display: block !important;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.content_main {
    margin-top: 100px;
    margin-left: 320px;
    margin-right: 40px;
    width: 1600px;
}
/*--------------ADMIN Static Pages---------------*/

.static_page_cont {
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(65,69,88,0.1),
                0 4px 8px 0 rgba(0,0,0,0.07);
}

.static_page_head {
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-color);
    margin-bottom: 10px;
    align-items: center;
}

.static_page_title {
    padding: 10px 15px;
}

.static_page_add_new {
    cursor: pointer;
    display: block;
    padding: 10px 15px;
}

.static_page_add_new:hover {
    color: var(--white-color);
    background-color: var(--red-color);
}

.flat-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    border-bottom: 2px solid var(--blue-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10),
                0 10px 20px rgba(0, 0, 0, 0.05),
                0 20px 20px rgba(0, 0, 0, 0.05),
                0 30px 20px rgba(0, 0, 0, 0.05);
}

.flat-table td {
    padding: 0 0 0 10px !important;
    text-align: left;
}

.flat-table th, .flat-table td {
    border: none;
    color: #999;
    border-collapse: collapse;
    line-height: 40px;
    padding: 0 0 0 10px;
}

.flat-table tr th {
    padding: 0 !important;
}

.flat-table td a {
    color: #999;
}

.flat-table th {
    background: var(--blue-color);
    color: #000;
}

.flat-table tr:hover {
    background: #e3e2e2;
}

.flat-table tr:hover td, .flat-table tr:hover td a {
    color: #000;
}

.button {
    width: 44px;
}

.button_E {
    background: url("/images/engine_images/edit.png") no-repeat;
    background-size: contain;
    width: 34px;
    height: 34px;
    margin: auto;
    cursor: pointer;
}

.button_D {
    background: url("/images/engine_images/delete.png") no-repeat;
    background-size: contain;
    width: 34px;
    height: 34px;
    margin: auto;
    cursor: pointer;
}

.button_O {
    background: url("/images/engine_images/out_book.png") no-repeat;
    background-size: contain;
    width: 34px;
    height: 34px;
    margin: auto;
    cursor: pointer;
}

.button:hover {
    background-color: var(--orange-color);
}

.fix_width {
    max-width: 200px;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis;
}

.ct {
    width: auto !important;
    padding: 0 !important;
    text-align: center !important;
}
/*--------------ADMIN MODAL WINDOWS---------------*/
.modal_windows {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal_window_content {
    width: 790px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    box-shadow: 0 8px 16px 0 rgba(65,69,88,0.1),
                0 4px 8px 0 rgba(0,0,0,0.07);
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.window_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #ddd;
    border-bottom: 1px solid var(--bg-color);
}

.window_title {
    padding: 10px 15px;
}

.window_close {
    margin: 10px 15px;
    cursor: pointer;
}

.window_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid var(--bg-color);
}

.window_button {
    margin: 0 !important;
    cursor: pointer;
    min-width: 100px;
    line-height: 40px;
    text-align: center;
    background-color: #ddd;
    font-size: 16px;
    font-weight: 700;padding: 0 10px;
}

.button_save:hover {
    background-color: var(--green-color);
    color: var(--black-color);
}

.button_close:hover {
    background-color: var(--red-color);
    color: var(--white-color);
}

.window_content {
    padding: 10px 15px;
}

.window_content span {
    font-weight: 700;
}

.window_content form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.window_content form label {
    width: 360px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin: 5px 10px;
}

.window_content form input {
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 1px solid var(--blue-color);
}
.window_content form select {
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 1px solid var(--blue-color);
}

.genre_select {
    height: 140px;
}

.window_content form input:focus {
    border-bottom: 1px solid var(--red-color);
}

.window_content form textarea {
    width: 738px;
    min-height: 160px;
    border: solid 1px var(--black-color);
    resize: vertical;
    padding: 10px;
}
/*--------------ADMIN MAIN---------------*/
.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 260px;
    height: 60px;
    color: var(--white-color);
}

.section_icon {
    width: 66px;
    height: 60px;
    box-shadow: 6px 0 6px -6px rgba(0, 0, 0, .6);
}

.section_icon img {
    margin: 5px 8px;
    width: 50px;
    height: 50px;
}

.section_text {
    margin-left: 15px;
    line-height: 24px;
}

.section_text span {
    font-size: 20px;
    font-weight: 700;
}

.section_orange {
    background-color: var(--orange-color);

}

.section_red {
    background-color: var(--red-color);
}

.section_green {
    background-color: var(--green-color);
}

.section_violet {
    background-color: var(--violet-color);
}



















































